<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{{siteConfig.name}} :: Login</title>
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <!-- Vendor CSS -->
    <link href="/js/vendor/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="/js/vendor/slick/slick.min.css" rel="stylesheet">
    <link href="/js/vendor/fancybox/jquery.fancybox.min.css" rel="stylesheet">
    <link href="/js/vendor/animate/animate.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/style-light.css" rel="stylesheet">
    <!--icon font-->
    <link href="/fonts/icomoon/icomoon.css" rel="stylesheet">
    <!--custom font-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<body class="is-dropdn-click">
{{> preloader}}
<header class="hdr global_width hdr_sticky hdr-mobile-style2">
    <!-- Mobile Menu -->
    <div class="mobilemenu js-push-mbmenu">
        <div class="mobilemenu-content">
            <div class="mobilemenu-close mobilemenu-toggle">CLOSE</div>
            <div class="mobilemenu-scroll">
                <div class="mobilemenu-search"></div>
                <div class="nav-wrapper show-menu">
                    <div class="nav-toggle"><span class="nav-back"><i class="icon-arrow-left"></i></span> <span class="nav-title"></span></div>
                    <ul class="nav nav-level-1">
                        {{#each siteConfig.menu}}
                            <li>
                                <a href="{{this.url}}">{{this.title}}</a>
                                {{#if this.submenu}}
                                    <span class="arrow"></span>
                                    <div class="mmenu-submenu">
                                        <ul class="nav-level-2">
                                            {{#each this.submenu}}
                                                <li>
                                                    <a href="{{this.url}}" title="">
                                                        {{this.title}}
                                                        <span class="mmenu-preview">
                                                            <img src="images/placeholder.png" data-src="images/menu/preview-layout-01.jpg" class="lazyload" alt=""/>
                                                            <span class="gdw-loader"></span>
                                                        </span>
                                                    </a>
                                                </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
                <div class="mobilemenu-bottom">
                    <div class="mobilemenu-currency"></div>
                    <div class="mobilemenu-language"></div>
                    <div class="mobilemenu-settings"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Mobile Menu -->
    <div class="hdr-mobile show-mobile">
        <div class="hdr-content">
            <div class="container">
                <!-- Menu Toggle -->
                <div class="menu-toggle"><a href="/#" class="mobilemenu-toggle"><i class="icon icon-menu"></i></a></div>
                <!-- /Menu Toggle -->
                <div class="logo-holder"><a href="/index.html" class="logo"><img src="/images/logo.png" srcset="images/logo-retina.png 2x" alt=""></a></div>
                <div class="hdr-mobile-right">
                    <div class="hdr-topline-right links-holder"></div>
                    <div class="minicart-holder"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="hdr-desktop hide-mobile">
        <div class="hdr-content hide-mobile">
            <div class="container">
                <div class="row">
                    <div class="col-auto logo-holder"><a href="/index.html" class="logo"><img src="/images/logo.png" srcset="images/logo-retina.png 2x" alt=""></a></div>
                    <!--navigation-->
                    <div class="prev-menu-scroll icon-angle-left prev-menu-js"></div>
                    <div class="nav-holder">
                        <div class="hdr-nav">
                            <!--mmenu-->
                            <ul class="mmenu mmenu-js">
                                {{#each siteConfig.menu}}
                                    <li class="mmenu-item--simple">
                                        <a href="{{this.url}}">{{this.title}}</a>
                                        {{#if this.submenu}}
                                            <div class="mmenu-submenu">
                                                <ul class="submenu-list">
                                                    {{#each this.submenu}}
                                                        <li>
                                                            <a href="{{this.url}}" title="">
                                                                {{this.title}}
                                                                <span class="mmenu-preview">
                                                            <img src="images/placeholder.png" data-src="images/menu/preview-layout-01.jpg" class="lazyload" alt=""/>
                                                            <span class="gdw-loader"></span>
                                                        </span>
                                                            </a>
                                                        </li>
                                                    {{/each}}
                                                </ul>
                                            </div>
                                        {{/if}}
                                    </li>
                                {{/each}}
                            </ul>
                            <!--/mmenu-->
                        </div>
                    </div>
                    <div class="next-menu-scroll icon-angle-right next-menu-js"></div>
                    <!--//navigation-->
                    <div class="col-auto minicart-holder">
                        <div class="minicart minicart-js"><a href="/#" class="minicart-link"><i class="icon icon-handbag"></i> <span class="minicart-qty">3</span> <span class="minicart-title">Shopping Cart</span> <span class="minicart-total">$750.00</span></a>
                            <div class="minicart-drop">
                                <div class="container">
                                    <div class="minicart-drop-close">CLOSE</div>
                                    <div class="minicart-drop-content">
                                        <h3>Recently added items:</h3>
                                        <div class="minicart-prd">
                                            <div class="minicart-prd-image"><a href="/#"><img src="/images/products/product-placeholder.png" data-srcset="images/products/xsmall/product-05.jpg" class="lazyload" alt=""></a></div>
                                            <div class="minicart-prd-name">
                                                <h5><a href="/#">canverse</a></h5>
                                                <h2><a href="/#">Checkered shirt</a></h2>
                                            </div>
                                            <div class="minicart-prd-qty"><span>qty:</span> <b>1</b></div>
                                            <div class="minicart-prd-price"><span>price:</span> <b>$ 75.00</b></div>
                                            <div class="minicart-prd-action"><a href="/#" class="icon-heart js-label-wishlist"></a> <a href="/product.html" class="icon-pencil"></a> <a href="/#" class="icon-cross js-product-remove"></a></div>
                                        </div>
                                        <div class="minicart-prd">
                                            <div class="minicart-prd-image"><a href="/#"><img src="/images/products/product-placeholder.png" data-srcset="images/products/xsmall/product-02.jpg" class="lazyload" alt=""></a></div>
                                            <div class="minicart-prd-name">
                                                <h5><a href="/#">canverse</a></h5>
                                                <h2><a href="/#">Long top with print</a></h2>
                                            </div>
                                            <div class="minicart-prd-qty"><span>qty:</span> <b>1</b></div>
                                            <div class="minicart-prd-price"><span>price:</span> <b>$ 20.00</b></div>
                                            <div class="minicart-prd-action"><a href="/#" class="icon-heart js-label-wishlist"></a> <a href="/product.html" class="icon-pencil"></a> <a href="/#" class="icon-cross js-product-remove"></a></div>
                                        </div>
                                        <div class="minicart-prd">
                                            <div class="minicart-prd-image"><a href="/#"><img src="/images/products/product-placeholder.png" data-srcset="images/products/xsmall/product-14.jpg" class="lazyload" alt=""></a></div>
                                            <div class="minicart-prd-name">
                                                <h5><a href="/#">saucany</a></h5>
                                                <h2><a href="/#">Knitted sweater</a></h2>
                                            </div>
                                            <div class="minicart-prd-qty"><span>qty:</span> <b>1</b></div>
                                            <div class="minicart-prd-price"><span>price:</span> <b>$ 199.00</b></div>
                                            <div class="minicart-prd-action"><a href="/#" class="icon-heart js-label-wishlist"></a> <a href="/product.html" class="icon-pencil"></a> <a href="/#" class="icon-cross js-product-remove"></a></div>
                                        </div>
                                        <div class="minicart-drop-total">
                                            <div class="float-right"><span class="minicart-drop-summa"><span>Cart Subtotal:</span> <b>$ 294.00</b></span>
                                                <div class="minicart-drop-btns-wrap"><a href="/checkout.html" class="btn"><i class="icon-check-box"></i><span>checkout</span></a> <a href="/cart.html" class="btn btn--alt"><i class="icon-handbag"></i><span>view cart</span></a></div>
                                            </div>
                                            <div class="float-left"><a href="/cart.html" class="btn btn--alt"><i class="icon-handbag"></i><span>view cart</span></a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-holder compensate-for-scrollbar">
        <div class="container">
            <div class="row"><a href="/#" class="mobilemenu-toggle show-mobile"><i class="icon icon-menu"></i></a>
                <div class="col-auto logo-holder-s"><a href="/index.html" class="logo"><img src="/images/logo.png" srcset="images/logo-retina.png 2x" alt=""></a></div>
                <!--navigation-->
                <div class="prev-menu-scroll icon-angle-left prev-menu-js"></div>
                <div class="nav-holder-s"></div>
                <div class="next-menu-scroll icon-angle-right next-menu-js"></div>
                <!--//navigation-->
                <div class="col-auto minicart-holder-s"></div>
            </div>
        </div>
    </div>
</header>
<div class="page-content">
    {{{body}}}
</div>

{{> footer}}

<script src="/js/vendor/jquery/jquery.min.js"></script>
<script src="/js/vendor/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/js/vendor/slick/slick.min.js"></script>
<script src="/js/vendor/scrollLock/jquery-scrollLock.min.js"></script>
<script src="/js/vendor/instafeed/instafeed.min.js"></script>
<script src="/js/vendor/countdown/jquery.countdown.min.js"></script>
<script src="/js/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/js/vendor/ez-plus/jquery.ez-plus.min.js"></script>
<script src="/js/vendor/tocca/tocca.min.js"></script>
<script src="/js/vendor/bootstrap-tabcollapse/bootstrap-tabcollapse.min.js"></script>
<script src="/js/vendor/isotope/jquery.isotope.min.js"></script>
<script src="/js/vendor/fancybox/jquery.fancybox.min.js"></script>
<script src="/js/vendor/cookie/jquery.cookie.min.js"></script>
<script src="/js/vendor/bootstrap-select/bootstrap-select.min.js"></script>
<script src="/js/vendor/lazysizes/lazysizes.min.js"></script>
<script src="/js/vendor/lazysizes/ls.bgset.min.js"></script>
<script src="/js/vendor/form/jquery.form.min.js"></script>
<script src="/js/vendor/form/validator.min.js"></script>
<script src="/js/vendor/slider/slider.js"></script>
<script src="/js/app.js"></script>
</body>
</html>